<!DOCTYPE html>
	<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
		<head>
			<meta charset="utf-8">
			<meta name="google-translate-customization" content="bfd87365ca844a17-dfbc458b5118d04c-gfbc7354d23e38595-f"></meta>
			<title>HEOGOOK</title>
	
			{{ header_meta }}
	
			<link href="http://www.evernotelife.com/heogook/bootstrap.min.css" rel="stylesheet">
			<link href="http://www.evernotelife.com/heogook/bootstrap-responsive.min.css" rel="stylesheet">
			<link href="http://www.evernotelife.com/heogook/default.css" rel="stylesheet">
			<link href="http://www.evernotelife.com/heogook/about.css" rel='stylesheet'>
			<link href="http://fonts.googleapis.com/css?family=Lato:100" rel='stylesheet' type='text/css'>
			<link href="http://www.evernotelife.com/heogook/contact.css" rel='stylesheet' type='text/css'>
			<link href="http://www.evernotelife.com/heogook/coin-slider-styles.css" rel="stylesheet" type="text/css">
			<link rel="SHORTCUT ICON" href="http://www.evernotelife.com/heogook/favicon.ico">

			<script src="{{ static('themes/_assets/bootstrap/js/bootstrap.min.js') }}"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
			<script type="text/javascript" src="http://www.evernotelife.com/heogook/coin-slider.js"></script>


<!-- Google Custom Search Script-->
<script>
  (function() {
    var cx = '012023941392628904799:j7wnfbdgkhg';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<!-- Google Demographics and Interest Reports -->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-51092059-1', 'heogook.com');
	ga('require', 'displayfeatures');
	ga('send', 'pageview');
</script>

<!-- Google Analytics Script -->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-51092059-1', 'heogook.com');
	ga('send', 'pageview');
</script>
	
{% if site.analytics %}
<script>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '{{ site.analytics }}']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
{% endif %}

<!-- Adobe Typekit -->   
<script src="//use.typekit.net/tze3ccr.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

		</head>

<body>

{% if is_login %}
	{{ login_form }}
{% else %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
	    	<div class="row">
	        	<div class="span10 offset1">
					{% if not is_login %}
					<div class="site-name"><a href="/"><img src="http://www.evernotelife.com/heogook/site_title.png" width="60%"  alt="HEOGOOK Official Website"></a></div>
					<!-- Categories Start -->
						<div class="menu">
							<ul>
								<li><a href="http://www.heogook.com">Home</a></li>
								<!-- <li><a href="http://www.heogook.com/about">About</a></li> -->
								<!-- <li><a href="">Application</a></li> -->
								<!-- <li><a href="">Store</a></li> -->
							    </ul> 
						</div><!-- menu End -->
					 {% endif %}
				</div><!-- span10 offset1 End -->         
			</div><!-- row End -->
		</div><!-- container End -->
	</div><!-- navbar-inner End -->
</div><!-- navbar navbar-fixed-top End -->
	    
<div class="container">
	<div class="row">
		<div class="span6 offset1">
			{% if is_home or is_tag %}
			{% if is_tag %}
	         
	        {% endif %}
			{% if posts %}
	        {% for post in posts %}
			
			<div class="row post">
	        <div class="span6">
	         
	        {% if post.photos %}
			{% for photo in post.photos %}
			{% if loop.index == 1 %}
			<div class="post-image">
            {% if post.type == 'link' %}
            {% else %}
            {% endif %}
            {% if photo %}
            <img src="{{ photo.width_600 }}" />
            {% else %}
            {% endif %}
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
				  
				  <div class="post-date">{{ post.created_at|format_date }}</div>
	              <div class="post-title"><a href="{{ post.permalink }}">{{ post.title }}</a></div>
	              <div class="post-content" data-type-cleanup="true">{{ post.content|striptags|truncate(150) }}</div>
	              <div class="post-detail"><a href="{{ post.permalink }}">자세히 알아보기</a></div>
	              
	            </div>
	          </div>
	          <div class="hr_line"></div>
	          {% endfor %}
	
	          {% if not is_tag %}
	          {% if pagination %}
	          <div class="pagination">
	            {% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; Previous</a>{% endif %}
	            {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">Next &rarr;</a>{% endif %}
	          </div>
	          {% endif %}
	          {% endif %}
	
	          {% else %}
	          <p><em>No posts yet.</em></p>
	          {% endif %}
	
	        {% elif is_post %}
	
	          <div class="post">
	            <h1>{{ post.title }}</h1>
	            <div class="post-content" data-type-cleanup="true">{{ post.content }}</div>
			  </div>
	  
<!-- DISQUS COMMENT START -->
{% if site.disqus %}
<div id="disqus_thread"></div>
<script type="text/javascript">
	var disqus_shortname = '{{ site.disqus }}';
    var disqus_url = '{{site.base_url}}{{ post.permalink }}';
    (function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}

			  
{% elif is_link %}
<div class="post">
	<h1>{{ link.title }}</h1>
	<div class="post-content" data-type-cleanup="true">{{ link.content }}</div>
	
	<div class="post-footer">
		{% elif is_page %}
			<div class="post">
				<h1>{{ page.title }}</h1>
				{{ page.content }}
			    </div>
		{% endif %}
</div>
	
{% if not is_login %}
<span class="span3 offset1">
<!-- Google Search 
	<div class="search"><gcse:search></gcse:search></div>
-->

<!-- By Subject Title 
	<div class="portfolio-title">By Subject</div>
		<div><ul class="recent">
				<li class="recent"><a href="/tag/evernote" class="{{ set_active('/tag/evernote') }}"><h6>Evernote</h6></a></li>
	          	<li class="recent"><a href="/tag/google" class="{{ set_active('/tag/google') }}"><h6>Google</h6></a></li>
	          	<li class="recent"><a href="/tag/dropbox" class="{{ set_active('/tag/dropbox') }}"><h6>Dropbox</h6></a></li>
	          	<li class="recent"><a href="/tag/apple" class="{{ set_active('/tag/apple') }}"><h6>Apple</h6></a></li>
			  	</ul></div>
-->
				  
<!-- Twitter Title -->
	<div class="twitter-title"><a href="http://www.twitter.com/gookheo" target="_blank">Twitter</a></div>

<!-- Twitter TimeLine Start -->
	<div class="twitter">
		<a class="twitter-timeline" href="https://twitter.com/gookheo" data-widget-id="469208187178987520" data-screen-name="gookheo" data-show-replies="false" data-tweet-limit="3" data-chrome="noheader noborders noheader transparent" data-related="benward,endform" border-color="#FFFFFF" width="100%"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!-- Instagram Title
	<div class="facebook-title"><a href="http://instagram.com/heogook" target="_blank">Instagram</a></div>
-->

<!-- Instagram Widget
	<iframe src="http://widget.websta.me/in/heogook/?s=133&w=2&h=2&b=0&p=2" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:270px; height: 270px" ></iframe> <!-- websta - web.stagram.com -->		  

<!-- Facebook Title 
	<div class="instagram-title"><a href="https://www.facebook.com/heogook" target="_blank">Facebook</a></div>
-->

<!-- Facebook Like Box 
	<div class="fb-like-box" data-href="https://www.facebook.com/heogook" data-width="270" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
	<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
-->

<!-- Google AD Title -->
	<div class="ad-title">Ad</div>

<!-- Google Adsense Script -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- In Sidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7614451157401562"
     data-ad-slot="6407296933"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		  
<!-- Apple Banner -->
	<!-- <div><img src="http://www.evernotelife.com/heogook/apple_banner.jpg" width="100%"></div> -->

	</div>
	</div>
	</span>
	{% endif %}
	</div>
    {% endif %}
	{{ footer_meta }}

	</body>
	</html>